<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wong Yong Jie</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:200,400,600&subset=latin,latin-ext">

  <!-- DO NOT MODIFY: Dependency injection using grunt-wiredep -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/monosocialiconsfont/monosocialiconsfont.css" />
  <!-- endbower -->
</head>
<body>

</body>
</html>
